* {
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    text-align: center;
    background-color: antiquewhite;
border-radius: 20px;
box-shadow: 5px 5px 4px black;
}

body {
    background-color: rgb(98, 139, 252);
}

ul {
    background-color: black;
    list-style-type: none;
    padding: 20px;
    height: 150px;
    margin: 0px;
    overflow:hidden;
}

li {
    float: left;
    overflow: auto;
}

li a, .liga {
display: inline-block;
color: white;
padding: 3px;
text-decoration: none;
text-align: center;
background-color: black;
opacity: 0.85;

}


li a:hover, .liga:hover > #btnBra, .liga:hover #btnEng, .liga:hover #btnEsp, .liga:hover #btnGer, .liga:hover #btnIta {
    background-color: rgb(248, 18, 18);
    
}

ul {
    background-size:cover ;
    background-image: url(images/images\ \(3\).jpeg);
    box-shadow: 5px 5px 3px black;
}


li:hover > div.times > a {
    display: block;
}

li.liga {
    display: inline-block;
}

div.times {
    background-color: black;
opacity: 0.85;

}

div.times > a {
    display: block;
    text-align: left;
    display: none;
    
}

div {
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

main {
width: 100vw;
text-align: center;
background-color: rgb(66, 66, 66);
}

main > h1 {
    background-color: rgb(105, 105, 105);
}

div.noticia {
    display: inline-block;
    width: 30%;
height: auto;
padding: 10px;
margin: 0px;
}

div.noticia > img {
    height: 180px;
    width: 100%;
}



.reduzir {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.noticia:hover .reduzir  {
    white-space: normal;
}
